#calcContainer{
    width: 35vw;
    height: 70vh;
}

#displayContainer{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    border: 1px solid black;
    background-color: blanchedalmond;
    height: 70px;
    width: 100%;
    font-size: 3rem;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
    padding: 20px;
    z-index: 99;
    
}

#calcBody{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    background-color: cadetblue;
}

#calcBody div {
    border-radius: 10%;
    border: 1px solid black;
    height: 100px;
    width:  100px;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: cornsilk;
    font-size: 3rem;
    

}

#calcBody div:hover {

    background-color: cornsilk;
    color: cadetblue;

}