body {
    width: 100vw;
    height: 100vh;
    background-color:honeydew;
    margin: 1%;
    padding: 0%;
}


#calcContainer{
    
    width: 300px;
    height: 400px;
    margin: 0%;
    padding: 0%;
}

#displayContainer{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    border: 1px solid black;
    background-color: rgb(40, 44, 44);
    height: 10%;
    width: 100%;
    font-size: 3.5rem;
    font-family:monospace;
    color: floralwhite;
    letter-spacing: 5px;
    padding: 20px;   
}

#calcBody{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    background-color: cadetblue;
    font-family: monospace;
}

#calcBody div {
    border-radius: 15px;
    border: 1px solid black;
    height: 15%;
    width:  19%;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: cornsilk;
    font-size: 2rem;
}

#ac{
    flex-grow: 1;
    background-color:rgb(124, 124, 124);
}


#equal{
    background-color: indianred;
}

#calcBody div:hover {

    background-color: cornsilk;
    color: cadetblue;

}